{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-4">
<h1 class="my-4">Ajouter un participant à l'événement : {{ event.name }}</h1>

{{ form_start(form) }}

<div class="mb-3">
    <label for="{{ form.name.vars.id }}" class="form-label">{{ form_label(form.name) }}</label>
    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    {{ form_errors(form.name) }}
</div>

<div class="mb-3">
    <label for="{{ form.email.vars.id }}" class="form-label">{{ form_label(form.email) }}</label>
    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
    {{ form_errors(form.email) }}
</div>

<button type="submit" class="btn btn-primary">Ajouter</button>

{{ form_end(form) }}

<div class="mt-4">
    <a href="{{ path('view_event', { id: event.id }) }}" class="btn btn-secondary">Retour aux détails de l'événement</a>
</div>
</div>
{% endblock %}
